*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: antiquewhite;
    height: 140vh;
    border: 10px solid black;

}
.content {
    max-width: 900px;
    margin: 0 auto;
}
.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color: red;
    text-transform: uppercase;

}
.image_container{
    border-radius: 50%;
    overflow: hidden;

}
.top_section h4{
    text-align: end;
    font-size: 30px;
}

.image_container,
img{
    width: 320px;
    height: 320px;
}
.about_section{
    margin-top: 50px;
}
.about_section h2 {
    font-size: 70px;
}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5;
    text-align: justify;
}
.biography_section{
    margin-top: 15px;
    font-size: 50;
}
footer{
    margin:  50px 0;

}
footer p{
    text-align: end;
}